/*content*/
.login{
	float: left;
	width: 800px;
	height: 748px;
	background: url(../img/newuse.jpg) no-repeat right top;
}
.login h2{
	font-size:30px; 
	margin-left:142px; 
	margin-top:79px;
	line-height: 92px;
	color: #000;
	font-weight: 100;
}
.login_name{
	float: left;
	width: 240px;
	height: 413px;
	text-align: right;
	margin-top: 10px;
}
.login_name p{
	font-size: 14px;
	color: #000;
	line-height: 56px;
	margin-right: 10px;
}
.login form{
	float: left;
	width: 445px;
}
.login form input{
	display: block;
	width: 440px;
	height: 32px;
	margin-top: 22px;
}
.login .p1{
	float: left;
	font-size: 10px;
	color: #999999;
	margin-top: 28px;
}
.login .login_A{
	float: right;
	display: block;
	font-size: 10px;
	color: #999999;
	margin-top: 28px;
	text-decoration: underline;
}
.login .login_B{
	font-size: 14px;
	display: block;
	width: 185px;
	height: 40px;
	color: #fff;
	background: #e4141d;
	margin-top: 80px;
	text-indent: 77px;
	line-height: 40px;
}
.login .p2{
	font-size: 12px;
	margin-top: 52px;
	margin-bottom: 27px;
	color: #000;
}
.login .login_l{
	width: 178px;
	height: 31px;
	display: flex;
	justify-content: space-between;
}
.newuse{
	float: left;
	width: 615px;
	height: 748px;
	background: #fff;
}
.newuse h2{
	font-size:30px; 
	margin-left:92px; 
	margin-top:89px;
	line-height: 92px;
	color: #000;
	font-weight: 100;
}
.newuse p{
	font-size: 14px;
	color: #000;
	margin-left:92px;
	line-height: 35px;
}
.newuse p span{
	color: #e4141d;
}
.newuse a{
	display: block;
	margin-left: 92px;
	width: 244px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: 27px;
	background: #e4141d;
	color: #fff;
	font-size: 14px;
}
